In [1]:
'''
ONLY FOR RUNNING THE NOTEBOOK
Sets the root of the notebook to the root of the lib so that imports and functions work
'''

import os
from pathlib import Path

cwd = Path.cwd()

files_found = False
root_path = cwd

while not(files_found):

    gitignore = root_path / '.gitignore'
    readme = root_path / 'README.md'

    files_found = bool(gitignore.exists() * readme.exists())
    if files_found:
        break

    if str(root_path) == root_path.drive + root_path.root:
        raise ValueError('did not find proper dir location. please restart/redefine cwd')

    root_path = root_path.parent

os.chdir(root_path)

# load_data_xlsx
This is a wrapepr to load data in a specific Data.xlsx format. See the `Data.xlsx` file in this folder as a reference for what it should look like

In [2]:
from src.functions.helper_funcs import load_data_xlsx

In [3]:
path_to_data_xlsx = root_path / 'docs' / 'examples and guides' / 'auto_mlr_notebook' / 'Data.xlsx' # change this based on the location of Data.xlsx
data_xlsx = load_data_xlsx(path_to_data_xlsx) # loads the data

print(data_xlsx.keys()) # data_xlsx is a dict containing all the useful info

dict_keys(['data', 'data test', 'design_parameters', 'response_parameters', 'features', 'feature types', 'levels', 'term_types', 'responses', 'lambdas', 'rescalers'])

## data_xlsx keys and values

### data & data test
pandas dataframe containing the raw and encoded features as well as any potential responses.

In [4]:
data_xlsx['data']

,Run,RolltemperatureC,Targetdensitygcm3,Calculatedtargetporosity,C56mAhg,_10CmAhg,A,B,C
0,1,85.0,2.7,39.44,161.266470,72.041289,-1.000000,-1.0,0.906667
1,2,85.0,2.7,33.83,163.246313,85.186684,-1.000000,-1.0,-0.028333
2,3,85.0,2.7,28.22,163.611265,89.828855,-1.000000,-1.0,-0.963333
3,4,120.0,2.7,39.44,162.546693,59.174622,0.166667,-1.0,0.906667
4,6,120.0,2.7,28.22,162.572572,84.951191,0.166667,-1.0,-0.963333
5,7,145.0,2.7,39.44,160.603309,30.733031,1.000000,-1.0,0.906667
6,8,145.0,2.7,33.83,161.722686,84.945758,1.000000,-1.0,-0.028333
7,9,145.0,2.7,28.22,162.295969,69.421891,1.000000,-1.0,-0.963333
8,10,85.0,3.2,39.44,160.393884,0.000890,-1.000000,1.0,0.906667
9,12,85.0,3.2,28.22,162.167545,11.601307,-1.000000,1.0,-0.963333
10,13,120.0,3.2,39.44,161.665905,3.496610,0.166667,1.0,0.906667
11,14,120.0,3.2,33.83,161.941403,17.198715,0.166667,1.0,-0.028333
12,15,120.0,3.2,28.22,162.801124,14.892531,0.166667,1.0,-0.963333
13,16,145.0,3.2,39.44,160.754080,0.000892,1.000000,1.0,0.906667
14,17,145.0,3.2,33.83,161.737700,15.862730,1.000000,1.0,-0.028333
15,5,120.0,2.7,33.83,163.135951,81.773996,0.166667,-1.0,-0.028333
16,11,85.0,3.2,33.83,162.239128,21.636350,-1.000000,1.0,-0.028333
17,18,145.0,3.2,28.22,162.065726,11.623512,1.000000,1.0,-0.963333

In [5]:
data_xlsx['data test']

,Run,RolltemperatureC,Targetdensitygcm3,Calculatedtargetporosity,C56mAhg,_10CmAhg,A,B,C
0,5,120,2.7,33.83,163.135951,81.773996,0.166667,-1.0,-0.028333
1,11,85,3.2,33.83,162.239128,21.636350,-1.000000,1.0,-0.028333
2,18,145,3.2,28.22,162.065726,11.623512,1.000000,1.0,-0.963333

### features

Dict where the keys are the encoded feature names and the vals are the real feature names

In [6]:
data_xlsx['features']

{'A': 'RolltemperatureC',
 'B': 'Targetdensitygcm3',
 'C': 'Calculatedtargetporosity'}

### levels

Dict where the keys are the encoded feature names and the vals are the real values used to make the [-1, +1] encoding

In [7]:
data_xlsx['levels']

{'A': [np.float64(85.0), np.float64(145.0)],
 'B': [np.float64(2.7), np.float64(3.2)],
 'C': [np.float64(28.0), np.float64(40.0)]}

### term_types

Dict where the keys are the encoded feature names and the vals are whether the feature is a mixture or process feature

In [8]:
data_xlsx['term_types']

{'A': 'Process', 'B': 'Process', 'C': 'Process'}

### responses

List of responses

In [9]:
data_xlsx['responses']

Index(['C56mAhg', '_10CmAhg'], dtype='object')

### rescalers

Dict where the keys are the encoded feature names and the vals are rescaler objects.
See `src.functions.math_utils.rescale.rescale` for reference

In [10]:
data_xlsx['rescalers']

{'A': <src.functions.math_utils.rescale.rescale at 0x18da489bd90>,
 'B': <src.functions.math_utils.rescale.rescale at 0x18da488c400>,
 'C': <src.functions.math_utils.rescale.rescale at 0x18da487b940>}

## data_xlsx keys and vales that contain information, not necessarily used for calculations

### design_parameters

Table containing all the details related to the encoding of the input features. Mainly for reference, it's not needed in calculations

In [11]:
data_xlsx['design_parameters']

                      Features Feature type  Min Level  Max Level Term type
Code
A             RolltemperatureC    Numerical       85.0      145.0   Process
B            Targetdensitygcm3    Numerical        2.7        3.2   Process
C     Calculatedtargetporosity    Numerical       28.0       40.0   Process

### response_parameters

Pandas df containing the responses as the index and the list of lambda values as the cell values

In [12]:
data_xlsx['response_parameters']

                        Lambda
C56mAhg   -2,-1,-0.5,0,0.5,1,2
_10CmAhg  -2,-1,-0.5,0,0.5,1,2